---
const companyName = "SampleStack";
const companyDescription =
  "The native macOS sample manager built for Eurorack and hardware samplers.";

const copyrightYear = new Date().getFullYear();
---

<footer
  class="mt-auto w-full bg-linear-to-t/oklch from-orange-100 via-transparent to-white pb-10"
>
  <div class="mx-auto mt-auto w-full max-w-sm px-4 pb-10 sm:max-w-xl sm:px-6 md:max-w-4xl lg:max-w-5xl lg:px-8 xl:max-w-6xl 2xl:max-w-[81rem]">
    <hr class="mb-10 border-slate-200" />

    <div class="flex flex-col gap-6 sm:flex-row sm:items-center sm:justify-between">
      <div>
        <a
          href="/"
          class="flex-none text-xl font-semibold uppercase text-slate-700 focus:opacity-80 focus:outline-hidden"
          aria-label="SampleStack Homepage"
        >
          {companyName}
        </a>
        <p class="mt-2 max-w-sm text-pretty text-sm text-slate-600">
          {companyDescription}
        </p>
      </div>

      <div class="text-sm text-slate-600">
        <a href="mailto:hello@samplestack.app" class="hover:text-slate-800">hello@samplestack.app</a>
      </div>
    </div>

    <hr class="mb-5 mt-10 border-slate-200" />

    <div class="flex items-center justify-between">
      <p class="text-sm text-slate-400/50">
        &copy; {copyrightYear} {companyName}
      </p>
      <a href="/terms" class="text-sm text-slate-400/50 hover:text-slate-500">Terms & Privacy</a>
    </div>
  </div>
</footer>
