---
import { Image } from "astro:assets";
import appScreenshot from "@images/app-screenshot.png";
---

{/* Hero Visual */}
<div class="relative m-auto w-full pt-16 sm:w-[90%]">
  <Image
    src={appScreenshot}
    alt="SampleStack application showing sample library management with waveform editor"
    loading={"eager"}
    class="rounded-xl"
  />
</div>
